node_modules
**/node_modules
**/dist
.git
.cursor
.github
unity
supabase/.temp
supabase/.branches
server/data
*.log
.env
.env.*
!**/.env.example
server/.env
client/.env
.DS_Store
coverage
.vite
**/*.tsbuildinfo
